/* CallPage */

.call-page-icon  {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
    border-radius: 9999px;
    padding: 24px;
}

/* MapView */

.map-marker {
    color: #e01b24;
}

/* PeerMarker */

.peer-marker {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
    border-radius: 9999px;
    padding: 6px;
}

/* PeerRow */

.peer-row-prefix {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
    border-radius: 9999px;
    padding: 6px;
}

/* Window */

.view-switcher  {
    min-width: 48px;
}

.view-switcher > button {
    border-radius: 0;
    margin-top: 0; /* removes separator given by `linked` */
}
